.transaction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Center vertically in the viewport */
  }
  
  .transaction-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .left-side {
    width: 50%;
    padding-left: 50px;
  }
  
  .right-side {
    width: 50%;
    padding-left: 50px;
  }
  
  .left-side img {
    max-width: 100%;
    height: auto;
  }
  